<nav class="lafar-bg-blue">
    <div class="nav-wrapper">
        <div class="left col s12 m5 l5">
            <ul>
                <li><a href="javascript: history.go(-1)" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                </li>
                <li><a href="javascript:void(0);" class="email-type">Mis Solicitudes de Horas Extra</a>
                </li>
            </ul>
        </div>
        <div class="col s12 m7 l7 hide-on-med-and-down">
            <ul class="right">
                <!-- <li><a href="javascript:void(0);"><i class="mdi-editor-attach-file" (click)="onOpenDialogUpload($event)"></i></a></li> -->
                <!--<li><a href="javascript:void(0);"><i class="modal-action modal-close  mdi-content-send"></i></a></li>-->
            </ul>
        </div>
    </div>
</nav>

<mz-card>
    <mz-card-content>
        <div class="row">
            <mz-input-container class="col l8 s8 m8">
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'magnify'">
                </i>
                <input mz-input
                  [label]="'Buscar'"
                  id="search-input"
                  (change)="filtrarRegistros($event.target.value)"
                  type="search"
                  value="">
            </mz-input-container>
            <div class="col l4 s4 m4">
                <br>
                <button mz-button class="blue">
                    Buscar
                </button>
            </div>
        </div>
    </mz-card-content>
</mz-card>

<mz-card>
    <mz-card-content>
        <mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="true" [fullscreen]="true">
            <mz-modal-header>
                <nav class="lafar-bg-blue">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <!-- <li><a href="javascript: void(0)" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a></li> -->
                                <li><a href="javascript:void(0);" class="email-type">Detalle de Solicitud de Horas Extras</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <!-- <li><a href="javascript:void(0);"><i class="mdi-editor-attach-file" (click)="onOpenDialogUpload($event)"></i></a></li> -->
                                <li><a href="javascript:void(0);"><i class="modal-action modal-close  mdi-content-clear"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>                
            </mz-modal-header>
            <mz-modal-content>
                <table class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Empleado</th>
                            <th>Turno</th>
                            <th>Tipo Hora Extra</th>
                            <th>Actividad Realizada</th>
                            <th>Aclaración de Turno</th>
                            <th>Nro. Horas</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
        
                    <div class="card blue-grey darken-1" *ngIf="detalleSolicitud.length === 0">
                        <h6 class="white-text">No existen empleados en la solicitud.</h6>
                    </div>
                    <tbody *ngIf="detalleSolicitud.length > 0">
                        <tr *ngFor="let item of detalleSolicitud">
                            <td>{{ item.Id }}</td>
                            <td>{{ item.NombreEmpleado }}</td>
                            <td>{{ item.Turno }}</td>
                            <td>{{ item.NombreTipoHoraExtra }}</td>
                            <td>{{ item.ActividadRealizada }}</td>
                            <td>{{ item.AclaracionTurno }}</td>
                            <td>{{ item.NumeroHoras}}</td>
                            <td style="text-align: right;">{{ item.Costo}}.Bs</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- <pre>{{ detalleSolicitud | json }}</pre> -->
            </mz-modal-content>
            <mz-modal-footer>
              <button mz-button class="blue" mz-modal-close>Cerrar Detalle</button>
            </mz-modal-footer>
        </mz-modal>

        <table class="tabla-detalle highlight responsive-table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha de Solicitud</th>
                    <th>Area</th>
                    <th>Tipo de Hora Extra</th>
                    <th>Costo</th>
                    <th>Estado Solicitud</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <div class="card blue-grey darken-1" *ngIf="solicitudes.length == 0">
                <h6 class="white-text">No tiene solicitudes realizadas.</h6>
            </div>
            <tbody *ngIf="solicitudes.length > 0">
                <tr *ngFor="let item of solicitudes | filter:term">
                    <td>S-{{ item.Id }}</td>
                    <td>{{ item.FechaSolicitud | date:'yyyy-MM-dd' }}</td>
                    <td>{{ item.NombreArea }}</td>
                    <td>{{ item.NombreTipoHoraExtra }}</td>
                    <td style="text-align: right;">{{ item.CostoTotal }} Bs. </td>
                    <td style="text-align: center;">
                        <i *ngIf="item.Estado ==='APROBADO'"  mz-icon-mdi mz-input-prefix class="green-text"
                            [icon]="'thumb-up-outline'">
                        </i>
                        <i *ngIf="item.Estado ==='RECHAZADO'"  mz-icon-mdi mz-input-prefix class="red-text"
                            [icon]="'thumb-down-outline'">
                        </i>
                        <i *ngIf="item.Estado ==='PENDIENTE'"  mz-icon-mdi mz-input-prefix class="orange-text"
                            [icon]="'clock'">
                        </i>
                        <i *ngIf="item.Estado ==='X'"  mz-icon-mdi mz-input-prefix class="red-text"
                            [icon]="'null'">
                        </i>
                    </td>
                    <td>
                        <button mz-button mz-tooltip
                            [tooltip]="'Ver Solicitud'"
                            (click)="bottomSheetModal.openModal()"
                            (click)="ObtenerDetalleSolicitud(item.Id)"
                            [float]="true" class="blue">
                            <i mz-icon-mdi [icon]="'file-find'"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mz-card-content>
</mz-card>

<div class="fixed-action-btn" style="bottom: 0px;  right: 0px;">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <h6>Costo Total: {{ costoTotalSolicitudes | number: '.2-2' }} Bs. </h6>
        </div>
    </div>
</div>

<!-- <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button 
        [float]="true" mz-button 
        [large]="true"
        class="blue"
        [disabled]="estaGuardando"
        (click)="onGuardarSolicitud()"><i class="large mdi-action-done"></i>
    </button>
</div> -->