.img-logo-banner{
    width:200px; 
    height:auto; 
}

.brand-logo{
    
}

.white-text {
    color: #FFFFFF !important;
}

.card-move-up .move-up {
    padding: 20px;
  }
  
  .black-overlay {
    background-color: rgba(0, 0, 0, 0.42) !important;
  }


.item-menu-apps {
    margin: auto auto;
    text-align: center;
}


.imagen-app{
    margin-top: 0px;
    width:100%;
    height: auto;
}

.bg-image-apps {
    background-image: url("../../../../assets/images/iphone.png");
    width: 100%;
    background-size: cover;
}


.bg-image-1 {
    background-image: url("../../../../assets/images/macbook.png");
    width: 100%;
    background-size: cover;
}

.bg-image-2 {
    background-image: url("../../../../assets/images/iphone.png");
    width: 100%;
    background-size: cover;
}

.bg-image-3 {
    background-image: url("../../../../assets/images/applewatch.png");
    width: 100%;
    background-size: cover;
}

.card-content{
    padding: 0px;
}

.parentCard{
    margin: 5px 0px;
}