<h3> SISTEMA DE COMPRAS</h3>
<div class="section titulo">
  <app-code-snippet> SISTEMA INTEGRADOR DE COMPRAS Y ABASTECIMIENTO </app-code-snippet>
</div>
<div class="section">

  <p>
    Ahora puedes realizar tus registro de compras de una manera mas facil y rápida.
  </p>
</div>

<div class="section">

  <mz-card class="parallax-card">
    <mz-card-content>

      <mz-parallax
        [height]="300">
          <!--<img class="parallax-image" src="assets/images/sacc/laboratorio.jpg">-->
          <img class="parallax-image" src="assets/images/sc/solicitud1.jpg">
      </mz-parallax>

      <div class="parallax-section white">
        <h5 class="light">ALGUNAS NOVEDADES</h5>
        <p>
          <b>Sistema Integrador de Compras y Abastecimiento,</b> cuenta actualmente con 2 modulos, Solicitud de Compra y Orden de Compra los cuales son descritos a continuación:
        </p>
        <blockquote>
            SOLICITUD DE COMPRAS<br>
            Aqui podras Crear Solicitudes y Listar Solicitudes; puedes realizar pedidos para la adquisiscion de productos, ademas, de tener conversaciones en tiempo real.
        </blockquote>

        <blockquote>
            ORDEN DE COMPRAS<br>
            Aqui el Departamento de Abastecimiento  podra Crear y Listar nuevas Ordenes de Compra, asi tambien detallar la cantidad a comprar el tipo de producto y total.
        </blockquote>
      </div>

      <mz-parallax
        [height]="300">
        <img class="parallax-image" src="../assets/images/sc/orden1.jpg">
      </mz-parallax>
    </mz-card-content>
  </mz-card>
</div>