<nav class="lafar-bg-blue">
  <div class="nav-wrapper">
      <div class="left col s12 m5 l5">
          <ul>
              <li><a href="javascript: history.go(-1)" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
              </li>
              <li><a href="javascript:void(0);" class="email-type">Roles de Usuario</a>
              </li>
          </ul>
      </div>
      <div class="col s12 m7 l7 hide-on-med-and-down">
          <ul class="right">
              <!-- <li><a href="javascript:void(0);"><i class="mdi-editor-attach-file" (click)="onOpenDialogUpload($event)"></i></a></li> -->
              <!--<li><a href="javascript:void(0);"><i class="modal-action modal-close  mdi-content-send"></i></a></li>-->
          </ul>
      </div>
  </div>
</nav>


<mz-card>
  <mz-card-content>
    <mz-select-container class="col s12 m3">
      <select mz-select mz-validation required
          id="srol"
          name="srol"
          [label]="'Roles'"
          [(ngModel)]="id_rol"
          [placeholder]="'Seleccione un rol'"
          (change)="asignarRol($event)">
          <option value="0">Asignar rol</option>
          <option value="{{ item.id_rol }}" *ngFor="let item of lrol">{{ item.nombre_rol }}</option>
      </select>
    </mz-select-container>
  </mz-card-content>
</mz-card>