.titulo-componente {
    font-size: 0.8rem;
    color: #9e9e9e;
}

.row {
    margin-bottom: auto;
}

.ng-select {
    margin-top: 0px;
}

.full-width {
    width: 100%;
}

.card .card-content {
    padding: 10px;
}